@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


/* Site Wide */
html,
select,
textarea,
input,
.task {
  background-color: #131316;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  padding-bottom: 20vh;
}

h1 {
  background-color: #1d1620;
  border-radius: 20px;
  border: 2px solid white;
  padding: 1rem;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
  font-size: 18px;
}

button.button {
  background-color: #E012AD;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 1em 1.5em;
  text-transform: uppercase;
  justify-self: center;
  margin: 2rem;
}

button.button:hover {
  background-color: white;
  border-color: #E012AD;
  color: #E012AD;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #1E1E1E;
}

.sidebar-head {
  background-color: #2a2a2c;
  font-size: 20px;
  padding: 1em;
  border-bottom: 2px solid #bbb;
  border-radius: 5px;
  text-align: center;
}

.sidebar li {
  padding: 8px;
  display: block;
}

/* Main Content */
main {
  margin-right: 200px;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}

/* Form */
form {
  border: 1px solid white;
  background-color: #1d1620;
  border-radius: 5px;
  display: grid;
  padding: 1rem;
}

form>p {
  display: grid;
  margin: 0;
  place-items: center;
  align-content: center;
}

input,
textarea,
select {
  border: 1px solid #E012AD;
  border-radius: 4px;
  padding: 1em 1.5em;
  width: 400px;
  justify-self: center;
}

textarea {
  resize: none;
}


label,
.helptext {
  width: 500px;
  padding: 1rem;
  margin-left: 3.5rem;
}

label {
  font-size: 18px;
  font-weight: bold;
}

.helptext {
  color: rgb(185, 46, 227);
  font-size: 12px;
}

form>ul {
  color: rgb(185, 46, 227);
  font-size: 12px;
  width: 500px;
  margin-left: 3rem;
}

.errorlist {
  color: red;
  font-weight: bold;
  list-style: none;
  width: 400px;
  margin: 0;
  padding: 0;
  justify-self: center;
  text-align: center;
}

/* Tables */
table {
  border: 1px solid white;
  background-color: #1d1620;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 5vh;
  border-collapse: separate;
  border-spacing: 0.5em;
}

th {
  border-radius: 20px;
  border: 2px solid white;
  background: #33343B;
  padding: 0.5em;
  font-size: 18px;
}

td {
  padding: 0.5em;
}

.task {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.task:hover {
  border-radius: 10px;
  background-color: white;
  color: black;
}

/* Animate */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.stagger {
  transition-delay: calc(200ms * var(--order));
}
