<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker:
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <header>
      {% include 'navbar.html' %}
    </header>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
  <!--
  <details>
    <summary>
      Debug Info
    </summary>
    <p>
      <pre>{% debug %}</pre>
    </p>
  </details>
  -->
</html>
