{% extends 'base.html' %}
{% block title %}
  My Tasks
{% endblock title %}
{% block main %}
  <section class="hidden">
    <h1 class="hidden">My Tasks</h1>
  </section>
  {% if task_list.exists %}
    <section class="hidden">
      <table class="hidden">
        <thead class="hidden">
          <th class="hidden">Name</th>
          <th class="hidden">Start date</th>
          <th class="hidden">End date</th>
          <th class="hidden">Is completed</th>
        </thead>
        <tbody class="hidden">
          {% for task in task_list %}
            <tr class="hidden">
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.name }}</td>
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.start_date|date:"m-d-Y" }}</td>
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.due_date|date:"m-d-Y" }}</td>
              <td class="stagger hidden"
                  style="text-align: center;
                         --order:{{ forloop.counter }};">
                {% if task.is_completed %}
                  Done
                {% else %}
                  <form onsubmit="setStorage()"
                        style="border: none;
                               padding: 0;"
                        action="{% url 'complete_task' task.id %}"
                        method="post">
                    {% csrf_token %}
                    <input type="hidden" name="is_completed" value="True">
                    <button class="task">Complete</button>
                  </form>
                  <script>
                    function setStorage() {
                      sessionStorage.setItem('clicked', 'true');
                  }
                  </script>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="hidden">
      <p class="hidden">You have no tasks</p>
    </section>
  {% endif %}
{% endblock main %}
