{% extends 'base.html' %}
{% block title %}
  My Tasks
{% endblock title %}
{% block main %}
  <section class="hidden">
    <h1 class="hidden">My Tasks</h1>
  </section>
  {% if task_list.exists %}
    <section class="hidden">
      <table class="hidden">
        <thead class="hidden">
          <tr id="two-col-table">
            <th class="hidden">Name</th>
            <th class="hidden">Mark complete</th>
          </tr>
        </thead>
        <tbody class="hidden">
          {% for task in task_list %}
            <tr onClick='toggleRow(this)' id="two-col-table" class="hidden">
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.name }}</td>
              <td class="stagger hidden td-center"
                  style="--order:{{ forloop.counter }};">
                {% if task.is_completed %}
                  Done
                {% else %}
                  <form class="task-form"
                        onsubmit="setStorage()"
                        style="border: none;
                               padding: 0;"
                        action="{% url 'complete_task' task.id %}"
                        method="post">
                    {% csrf_token %}
                    <input type="hidden" name="is_completed" value="True">
                    <button class="task">Complete</button>
                  </form>
                  <script>
                    function setStorage() {
                      sessionStorage.setItem('clicked', 'true');
                  }
                  </script>
                {% endif %}
              </td>
              <td class="expanded-row-content hide-row">
                <div class="date-grid">
                  <div class="start-date">Start date:</div>
                  <div class="start-date date-right ">{{ task.start_date|date:"F d, Y" }}</div>
                  <div class="due-date">Due date:</div>
                  <div class="due-date date-right ">{{ task.due_date|date:"F d, Y" }}</div>
                </div>
                <br/>
                <strong>Description</strong>
                <p class="task-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, corrupti? Rerum laboriosam cumque perspiciatis excepturi vel enim a corrupti et dolorem quo tempora aliquid ea quasi, numquam, omnis quos quaerat?
                </p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="hidden">
      <p class="hidden">You have no tasks</p>
    </section>
  {% endif %}
{% endblock main %}
