{% extends 'base.html' %}
{% block title %}
  {{ project.name }}
{% endblock title %}
{% block main %}
  <section class="hidden">
    <h1 class="stagger hidden" style="--order:1;">{{ project.name }}</h1>
    <p class="stagger hidden" style="--order:2;">{{ project.description }}</p>
    <h2 class="stagger hidden" style="--order:3;">Tasks</h2>
    <p class="stagger hidden" style="--order:4;">
      <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
  </section>
  {% if project.tasks.exists %}
    <section class="hidden">
      <table class="hidden">
        <thead class="hidden">
          <th class="hidden">Name</th>
          <th class="hidden">Assignee</th>
          <th class="hidden">Start date</th>
          <th class="hidden">Due date</th>
          <th class="hidden">Is completed</th>
        </thead>
        <tbody class="hidden">
          {% for task in project.tasks.all %}
            <tr class="hidden">
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.name }}</td>
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.assignee }}</td>
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.start_date|date:"m-d-Y" }}</td>
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.due_date|date:"m-d-Y" }}</td>
              <td class="stagger hidden"
                  style="text-align: center;
                         --order:{{ forloop.counter }};">
                {{ task.is_completed|yesno }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="hidden">
      <p class="hidden">This project has no tasks</p>
    </section>
  {% endif %}
{% endblock main %}
