{% extends 'base.html' %}
{% block title %}
  {{ project.name }}
{% endblock title %}
{% block main %}
  <section class="hidden">
    <h1 class="stagger hidden" style="--order:1;">{{ project.name }}</h1>
    <p class="stagger hidden" style="--order:2;">{{ project.description }}</p>
    <h2 class="stagger hidden" style="--order:3;">Tasks</h2>
    <p class="stagger hidden" style="--order:4;">
      <a href="{% url 'create_task' %}">Create a new task</a>
    </p>
  </section>
  {% if project.tasks.exists %}
    <section class="hidden">
      <table class="hidden">
        <thead class="hidden">
          <tr id="two-col-table">
            <th class="hidden">Name</th>
            <th class="hidden">Task Complete</th>
          </tr>
        </thead>
        <tbody class="hidden">
          {% for task in project.tasks.all %}
            <tr onClick='toggleRow(this)' id="two-col-table" class="hidden">
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">{{ task.name }}</td>
              <td class="stagger hidden td-center"
                  style="--order:{{ forloop.counter }};">{{ task.is_completed|yesno }}</td>
              <td class="expanded-row-content hide-row">
                <span></span>
                <div class="date-grid">
                  <div>
                    <strong>Assignee:</strong>
                  </div>
                  <div class="date-right">
                    <strong>{{ task.assignee }}</strong>
                  </div>
                  <div class="start-date">Start date:</div>
                  <div class="start-date date-right ">{{ task.start_date|date:"F d, Y" }}</div>
                  <div class="due-date">Due date:</div>
                  <div class="due-date date-right ">{{ task.due_date|date:"F d, Y" }}</div>
                </div>
                <br/>
                <strong>Description</strong>
                <p class="task-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe commodi maxime labore ea hic nulla obcaecati. Nisi harum obcaecati maiores natus, voluptatibus alias necessitatibus, libero repellat, dignissimos ab cumque.
                </p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="hidden">
      <p class="hidden">This project has no tasks</p>
    </section>
  {% endif %}
{% endblock main %}
