{% extends 'base.html' %}
{% block title %}
  My Projects
{% endblock title %}
{% block main %}
  <section class="hidden">
    <h1 class="stagger hidden" style="--order:1;">My Projects</h1>
    <p class="stagger hidden" style="--order:2;">
      <a href="{% url 'create_project' %}">Create a new project</a>
    </p>
  </section>
  {% if not project_list.exists %}
    <section class="hidden">
      <p class="hidden">You are not assigned to any projects</p>
    </section>
  {% else %}
    <section class="hidden">
      <table class="hidden">
        <thead class="hidden">
          <th class="hidden">Name</th>
          <th class="hidden">Number of tasks</th>
        </thead>
        <tbody class="hidden">
          {% for project in project_list %}
            <tr class="hidden">
              <td class="stagger hidden" style="--order:{{ forloop.counter }};">
                <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
              </td>
              <td class="stagger hidden"
                  style="text-align: center;
                         --order:{{ forloop.counter }};">
                {{ project.tasks.all|length }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endif %}
{% endblock main %}
